  <h2>Dashboard</h2>
  <div class="row">
    <div class="col-md-8">
      <section class="widget">
        <h3><i class="fa fa-fw fa-film"></i> Movies</h3>

        <ul class="media-list movies-recommended">
          <li class="media" ng-repeat="item in movies | orderBy:predicate | filter: movieFilter">
            <a class="pull-left" href="#">
              <img class="media-object" alt="" ng-src="{{item.img}}">
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                <a ng-href="#/movies/{{item.id}}">{{item.title}} ({{item.year}})</a>
                <a href="" ng-click="toggleFav(item)" ng-class="{active: item.favourite}"><i class="pull-right fa fa-fw fa-heart"></i></a>
                <a href="" ng-click="toggleWatchlist(item)" ng-class="{active: item.watchlist}"><i class="pull-right fa fa-fw fa-eye"></i></a>
              </h4>
              <ul class="details">
                <!--<li><strong><a href="#">TMDb:</a></strong> {{item.rating}} from {{item.votes}} users</li>-->
                <li class="genres" ng-if="item.genres">
                  <span ng-repeat="genre in item.genres">{{genre}}</span>
                </li>
              </ul>
              <div class="plot">
                {{item.plot}}
              </div>
              <ul class="comments clearfix" ng-if="item.comments.length>0">
                <li ng-repeat="c in item.comments | orderBy:date:true | limitTo:4">
                  <span class="author">{{c.user}}:</span> {{c.comment}}
                  <span class="time-ago" am-time-ago="c.date"></span></li>
              </ul>

            </div>
          </li>
        </ul>
      </section>
    </div>
    <div class="col-md-4">
      <section class="widget">

        <h3><i class="fa fa-fw fa-desktop"></i> Feed</h3>

        <ul class="media-list news-feed">
          <li class="media" ng-repeat="item in newsFeed | orderBy:predicate">
            <a class="pull-left" href="#">
              <img class="media-object" alt="" ng-src="{{item.img}}">
            </a>
            <div class="media-body">
              {{item.user}} {{item.msg}}
              <div class="time-ago"><small><span am-time-ago="item.date"></span></div>
            </div>
          </li>
        </ul>
      </section>

      <section class="widget">

        <h3><i class="fa fa-fw fa-eye"></i> Watchlist</h3>

        <ul class="media-list news-feed" ng-show="watchlist.length">
          <li class="media" ng-repeat="movie in watchlist = (movies | filter:{watchlist:true})">
            <a class="pull-left" href="#">
              <img class="media-object" alt="" ng-src="{{movie.img}}">
            </a>
            <div class="media-body">
              {{movie.title}} ({{movie.year}})
              <a href="" ng-click="toggleWatchlist(movie)"><i class="pull-right fa fa-fw fa-times"></i></a>
              <div class="time-ago"><small><span am-time-ago="movie.date"></span></div>
            </div>
          </li>
        </ul>
        <div class="widget-alert-sm" ng-hide="watchlist.length">Your watchlist is empty.</div>
      </section>

        <section class="widget">

        <h3><i class="fa fa-fw fa-heart"></i> Favourites</h3>

        <ul class="media-list news-feed" ng-show="favourites.length">
            <li class="media" ng-repeat="movie in favourites = (movies | filter:{favourite:true})">
                <a class="pull-left" href="#">
                    <img class="media-object" alt="" ng-src="{{movie.img}}">
                </a>
                <div class="media-body">
                    {{movie.title}} ({{movie.year}})
                    <a href="" ng-click="toggleFav(movie)"><i class="pull-right fa fa-fw fa-times"></i></a>
                    <div class="time-ago"><small><span am-time-ago="movie.date"></span></div>
                </div>
            </li>
        </ul>
        <div class="widget-alert-sm" ng-hide="favourites.length">You don't have any favourites.</div>
    </section>

    </div>
  </div>