  <h2>Dashboard</h2>
  <div class="row">
    <div class="col-md-8">

      <section class="widget">
        <h3><i class="fa fa-fw fa-film"></i> Upcoming Movies</h3>

        <ul class="media-list movies-recommended upcoming clearfix">
          <li class="media" ng-repeat="item in upcoming | orderBy:predicate | filter: imageFilter">
            <a ng-href="#/movies/{{item.id}}">
              <img class="media-object" alt="" ng-src="{{item.poster}}">
            </a>
          </li>
        </ul>
      </section>

    </div>
    <div class="col-md-4">
      <section class="widget">

        <h3><i class="fa fa-fw fa-eye"></i> Watchlist</h3>

        <ul class="media-list news-feed" ng-show="watchlist.length">
          <li class="media" ng-repeat="movie in watchlist = (movies | filter:{watchlist:true})">
            <a class="pull-left" href="#">
              <img class="media-object" alt="" ng-src="{{movie.image}}">
            </a>
            <div class="media-body">
              {{movie.title}} ({{movie.year}})
              <a href="" ng-click="toggleWatchlist(movie)"><i class="pull-right fa fa-fw fa-times"></i></a>
              <div class="time-ago"><small><span am-time-ago="movie.date"></span></div>
            </div>
          </li>
        </ul>
        <div class="widget-alert-sm" ng-hide="watchlist.length">Your watchlist is empty.</div>
      </section>

        <section class="widget">

        <h3><i class="fa fa-fw fa-heart"></i> Favourites</h3>

        <ul class="media-list news-feed" ng-show="favourites.length">
            <li class="media" ng-repeat="movie in favourites = (movies | filter:{favourite:true})">
                <a class="pull-left" href="#">
                    <img class="media-object" alt="" ng-src="{{movie.image}}">
                </a>
                <div class="media-body">
                    {{movie.title}} ({{movie.year}})
                    <a href="" ng-click="toggleFav(movie)"><i class="pull-right fa fa-fw fa-times"></i></a>
                    <div class="time-ago"><small><span am-time-ago="movie.date"></span></div>
                </div>
            </li>
        </ul>
        <div class="widget-alert-sm" ng-hide="favourites.length">You don't have any favourites.</div>
    </section>

    </div>
  </div>