<div ng-if="movie.title">
<h2>{{movie.title}} ({{movie.year}})
    <ul class="icon-menu pull-right">
        <li><a href="" ng-click="toggleFav(movie)" ng-class="{active: movie.favourite}"><i class="fa fa-fw fa-heart"></i></a></li>
        <li><a href="" ng-click="toggleWatchlist(movie)" ng-class="{active: movie.watchlist}"><i class="fa fa-fw fa-eye"></i></a></li>
    </ul>
</h2>
<div class="widget clearfix">
    <img class="media-object pull-left" alt="" ng-src="{{movie.img}}">

    <div class="media-body movie" ng-style="movie.backdrop != '' && {'background-image':'url('+backdrop+')'}">
        <ul class="details">
            <li><strong>TMDb:</strong> {{movie.tmdb.vote_average}} from {{movie.tmdb.vote_count}} votes</li>
            <li>
              <a target="_blank" ng-href="http://www.imdb.com/title/{{movie.tmdb.imdb_id}}"><i class="fa fa-external-link"></i> View in IMDb</a>  |
              <a target="_blank" ng-href="http://www.themoviedb.org/movie/{{movie.tmdb.id}}"><i class="fa fa-external-link"></i> View in TMDb</a></li>

            <li class="genres" ng-if="movie.tmdb.genres">
                <span ng-repeat="genre in movie.tmdb.genres">{{genre.name}}</span>
            </li>
        </ul>
        <div class="plot">
            {{movie.tmdb.overview}}
        </div>
      <div ng-if="movie.trailers.youtube" style="margin-top: 20px">
      <h3>Trailers</h3>
        <ul>
           <li ng-repeat="trailer in movie.trailers.youtube">
        <a target="_blank" ng-href="//www.youtube.com/watch?v={{trailer.source}}">{{trailer.name}}</a></li>
        </ul>
      </div>


    </div>
</div>

<div ng-if="movie.reviews">
<h2>Reviews</h2>
<section class="widget">

  <ul class="clearfix" ng-if="movie.reviews.length>0">
    <li ng-repeat="review in movie.reviews | orderBy:date:true" style="list-style-type:none">
      {{review.text}}
      <span class="time-ago" am-time-ago="c.date"></span>
      <div class="pull-right review-author">
        <div class="rating-stars"><rating value="review.rating" readonly="true" max="10"></rating></div>
        <div class="author"><img ng-src="{{user_tn(review.user_uid)}}"><a ng-href="#/users/{{review.user_id}}">{{review.user}}</a></div>
        <div>{{ review.updated_at | amCalendar }}</div>
      </div>
        <ul class="comments clearfix" ng-if="review.comments">
          <li ng-repeat="c in review.comments | orderBy:date:true | limitTo:40">
             <span class="author"><a ng-href="#/users/{{c.user.id}}">{{c.user.name}}</a>:</span> {{c.text}}
            <span class="time-ago" am-time-ago="c.created_at"></span>
          </li>
        </ul>
    </li>
  </ul>

</section>
</div>


</div>
