 <h2>{{user.name}}</h2>
 <div >
 	<div class="widget profile-widget">
 		<div>
	 		<div class="profile-photo">
	 			<img ng-src="http://graph.facebook.com/{{user.uid}}/picture?type=large">
	 		</div>
	 		<div>
      <p>Joined {{user.created_at | amCalendar}}</p>

      <h3>Hubs</h3>
      <ul>
        <li ng-repeat="hub in user.hubs">
          <strong><a ng-href="#/hubs/{{hub.id}}">{{hub.name}}</a></strong>
        </li>
      </ul>

      </div>
	 		<div class="clearing"> </div>
	 	</div>
 	</div>
 	<div class="userName">

 	</div>
 </div>